*{
    margin: 0;
    padding: 0;
}

.header{
    min-height: 100vh;
    width: 100%;
    background-image:linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url("back.jpg") ;

}

.logo{
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img{
    width: 55%;
    border: 2px solid white;
    border-radius: 45%;
}
.navbar{
    display: flex;
    background-color:black;
    position: sticky;
    background-attachment: scroll;

}

.nav-list{
    width: 70%;
    display: flex;
    align-items: center;
    
}

.nav-list li{
      list-style: none;
      padding: 26px 30px;
      
      
}
.container1{
    height: 100vh;
}

.nav-list li a{
    text-decoration: none;
    color: white    
}

.nav-list li a:hover{
       color: grey;     
}

.rightnav{
    width: 30%;
    text-align: right;
    margin-top: 25px;
    
}

.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.text-box h1{
    font-size: 62px;
}

.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
}

.ref{
    margin: 10px;
}

.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid white;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.hero-btn:hover{
    border: 1px solid #f44334;
    background: #f44334;
    transition:1s ;
}

@media(max-width:700px){
    .text-box h1{
        font-size: 20px;
    }

}

.course{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

h1{
    font-size: 36px;
    font-weight: 600;
}

p{
    color: black;
    font-size: 14px;
    font-weight: 300px;
    line-height: 22px;
    padding: 10px;
}

.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.course-col{
    flex-basis: 31%;
    background-color: rgb(178, 166, 166);
    border-radius: 10px;
    margin-bottom: 5%;
    padding:20px 12px;
    box-sizing: border-box;

    }


h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}

.course-col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}

footer{
    width: 100%;
    position: relative;
    bottom: 0;
    
    color: #fff;
    padding: 100px 0 30px;
    border-top-left-radius: 125px;
}

.row{
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.col{
    flex-basis: 25%;
    padding: 10px;
}

.logo{
    width: 80px;
    margin-bottom: 30px;
}

.col h3{
    width: fit-content;
    margin-bottom: 40px;
    position: relative;
}

.email{
    width: fit-content;
    border-bottom: 40px;
    margin: 20px 0;
}

ul li{
    list-style: none;
    margin-bottom: 12px;  
}

ul li a{
        text-decoration: none;
        color: #fff;   }

